pandas
langchain-core
langchain-community
langchain_google_genai
google-generativeai
langgraph
dotenv
fastapi
openpyxl
streamlit
uvicorn
pdfplumber
anthropic
pydantic
pandas
langchain-anthropic
plotly
networkx